/* Header */

.navbar {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.navbar>ul {
    display: flex;
}

.navbar>ul>li {
    padding: 10px;
    list-style-type: none;
}

.product_cart {
    margin-top: 12px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

}

.product{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: .6rem;

}
.img_div{
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    
}

.product_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product h1{
  font-size: 1.2rem;
  text-align: center;
}